@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Hanten_Grotesk;
  src: url(../assets/fonts/Hanken_Grotesk/static/HankenGrotesk-Bold.ttf);
}

@font-face {
  font-family: Rubik;
  src: url(../assets/fonts/Rubik/static/Rubik-SemiBold.ttf);
}

@font-face {
  font-family: Inter;
  src: url(../assets/fonts/Inter/static/Inter-Regular.ttf);
}

.no-scroll::-webkit-scrollbar {
  width: 0px;
  -ms-overflow-style: none;
}

.no-scroll {
  scrollbar-width: none;
}

html {
  scrollbar-width: none;
}

@viewport {
  user-zoom: fixed;
}

@-ms-viewport {
  user-zoom: fixed;
}

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  @media all and (display-mode: standalone) {
  }
}

@layer components {
  .active-btn:active {
    scale: 1.2;
  }

  .collections {
    @apply bg-peach stroke-white;
  }

  .body-overlay {
    @apply after:w-full after:h-full after:bg-[rgba(0,0,0,.1)] after:absolute after:right-0 after:top-0 after:block;
  }

  .center {
    left: 50%;
    transform: translateX(-50%);
  }

  .letter-1 {
    letter-spacing: 0.05em;
  }

  .shadow-round {
    box-shadow: 0 0 1px 0 rgb(249 250 251);
  }

  .trans-bg-tr {
    transition: background-color 30ms ease 900ms, transform 900ms ease;
  }

  .opa-black {
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
  }

  .opa-black > .trans-el {
    transition: all ease 0.4s;
    transform: scale(0);
  }

  .opa-black.scale-up > .trans-el {
    transform: scale(1);
  }

  .tr-3 {
    transition: all ease 0.3s;
  }

  .no-notifi {
    top: -200px;
  }

  .modalOpen {
    animation: bounce_2 500ms ease;
    animation-fill-mode: forwards;
  }

  .blur-shadow {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  }

  @keyframes bounce_2 {
    25% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1.1);
    }
    75% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }

  .no-notifi.notifi {
    animation: bounce 0.5s ease;
    animation-fill-mode: forwards;
  }

  @keyframes bounce {
    0% {
      top: -200px;
    }
    70% {
      top: 1.4rem;
    }
    85% {
      top: -0.3rem;
    }
    100% {
      top: 0.5rem;
    }
  }

  .tr-4 {
    transition: opacity ease 0.9s;
  }

  .tr-1 {
    transition: all ease 1s;
  }

  .overlay {
    @apply after:w-full after:h-full after:absolute after:top-0;
  }

  .selected {
    @apply overlay after:rounded-[inherit] after:opacity-[.3] after:bg-black;
  }

  .filterActive {
    @apply text-gray-200 shadow-sm shadow-blue-500 bg-blue-500 rounded-full py-1 px-4 dark:text-darkBlue dark:bg-white 
    dark:shadow-none;
    transition: all ease 0.2s;
  }

  .filterNotActive {
    @apply text-gray-500 dark:text-blue-400;
  }
}
