@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Hanten_Grotesk;
  src: url(../assets/fonts/Hanken_Grotesk/static/HankenGrotesk-Bold.ttf);
}

@font-face {
  font-family: Inter;
  src: url(../assets/fonts/Inter/static/Inter-Regular.ttf);
}

.no-scroll::-webkit-scrollbar {
  width: 0px;
  -ms-overflow-style: none;
}

.no-scroll {
  scrollbar-width: none;
}

html {
  scrollbar-width: none;
}

@layer components {
  .all-fit {
    @apply h-fit w-fit;
  }

  .theme-switcher {
    @apply shadow-blue-300 bg-blue-500 stroke-white dark:shadow-none dark:bg-gray-200 dark:stroke-blue-500;
  }

  .section-notes {
    height: 400px;
  }

  .w-inherit {
    min-width: inherit;
  }
  .h-inherit {
    min-height: inherit;
  }

  .center {
    left: 50%;
    transform: translateX(-50%);
  }

  .tr-3 {
    transition: all ease 0.3s;
  }

  .tr-4 {
    transition: all ease-in-out 0.4s;
  }

  .filterActive {
    @apply text-gray-200 shadow-sm shadow-blue-500 bg-blue-500 rounded-full py-1 px-4 dark:text-darkBlue dark:bg-white 
    dark:shadow-none;
    transition: all ease 0.2s;
  }

  .filterNotActive {
    @apply text-gray-500 dark:text-blue-400;
  }

  .linkActive {
    @apply text-gray-700 border-blue-600;
    transition: all ease 1s;
  }

  .linkNotActive {
    @apply text-gray-400 border-white;
  }
}
