@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Hanten_Grotesk;
  src: url(../assets/fonts/Hanken_Grotesk/static/HankenGrotesk-Bold.ttf);
}

@font-face {
  font-family: Inter;
  src: url(../assets/fonts/Inter/static/Inter-Regular.ttf);
}

.no-scroll::-webkit-scrollbar {
  width: 0px;
  -ms-overflow-style: none;
}

.no-scroll {
  scrollbar-width: none;
}

html {
  scrollbar-width: none;
}

@layer components {
  .collections {
    @apply shadow-blue-300 bg-blue-500 stroke-white dark:shadow-none dark:bg-gray-200 dark:stroke-blue-500;
  }

  .center {
    left: 50%;
    transform: translateX(-50%);
  }

  .letter-1 {
    letter-spacing: 0.05em;
  }

  .shadow-round {
    box-shadow: 0 0 1px 0 rgb(249 250 251);
  }

  .opa-black {
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
  }

  .opa-black > div {
    transition: all ease 0.4s;
    transform: scale(0);
  }

  .opa-black.scale-up > div {
    transform: scale(1);
  }

  .tr-3 {
    transition: all ease 0.3s;
  }

  .tr-d-3 {
    transition: opacity ease 0.7s;
    transition-delay: 0.1s;
  }

  .no-notifi {
    top: -200px;
  }

  .no-notifi.notifi {
    animation: bounce 0.5s ease;
    animation-fill-mode: forwards;
  }

  @keyframes bounce {
    0% {
      top: -200px;
    }
    70% {
      top: 1.4rem;
    }
    85% {
      top: -0.3rem;
    }
    100% {
      top: 0.5rem;
    }
  }

  .tr-4 {
    transition: opacity ease 0.9s;
  }

  .left-t {
    transform: translateX(-100%);
    opacity: 0;
    transition: all ease 0.9s;
  }

  .left-t.right-t {
    transform: translateX(0%);
    opacity: 1;
  }

  .tr-1 {
    transition: all ease 1s;
  }

  .selected {
    @apply after:w-full after:h-full after:rounded-[inherit] after:opacity-[.3] after:bg-black after:absolute after:top-0;
  }

  .filterActive {
    @apply text-gray-200 shadow-sm shadow-blue-500 bg-blue-500 rounded-full py-1 px-4 dark:text-darkBlue dark:bg-white 
    dark:shadow-none;
    transition: all ease 0.2s;
  }

  .filterNotActive {
    @apply text-gray-500 dark:text-blue-400;
  }
}
